bin/
fpmake
packages/fcl-db/tests/database.ini
fpcbootstrap/gdb
packages.fppkg
fpc
fpcpkgconfig
fpcsrc/compiler/msgidx.inc
fpcsrc/compiler/msgtxt.inc
fpcsrc/compiler/revision.inc
fpcsrc/compiler/utils/mka64ins
fpcsrc/compiler/utils/mkarmins
fpcsrc/compiler/utils/mkx86inl
fpcsrc/compiler/utils/mkx86ins
fpcsrc/compiler/utils/mkz80ins
fpcsrc/compiler/utils/ppudump
fpcsrc/compiler/utils/ppufiles
fpcsrc/compiler/utils/ppumove
fpcsrc/rtl/Package.fpc
fpcsrc/compiler/ppc1
fpcsrc/compiler/ppc2
fpcsrc/compiler/ppc3
fpcsrc/compiler/ppca64
fpcsrc/compiler/ppcwpo1
fpcsrc/packages/opengl/examples/bounce
fpcsrc/packages/opencl/examples/basicsample
fpcsrc/packages/opencl/examples/clinfo
fpcsrc/packages/opengl/examples/freeglutdemo
fpcsrc/packages/opengl/examples/glutdemo
fpcsrc/packages/opengl/examples/glutdemova
fpcsrc/packages/opengl/examples/glxtest
fpcsrc/packages/opengl/examples/morph3d
fpcsrc/packages/opengl/examples/radblur
config_lazarus
